<p><% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
      with help from <a href="http://hexo.io/" target="_blank">Hexo</a>.
     <br> Theme by <a href="http://github.com/yfsoftcom">Wangfan</a>.
</p>
